<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a href="/" class="<%= locals.path && path ==='/' ? 'active' : '' %>">Shop</a></li>
            <li class="main-header__item"><a href="/products" class="<%= locals.path && path === '/products' ? 'active' : '' %>">Products</a></li>
            <% if(user) { %>
                <li class="main-header__item"><a href="/cart" class="<%= locals.path && path ==='/cart' ? 'active' : '' %>">Cart</a></li>
                <li class="main-header__item"><a href="/orders" class="<%= locals.path && path ==='/orders' ? 'active' : '' %>">Orders</a></li>
                <li class="main-header__item"><a class="<%= locals.path && path ==='/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add Product</a></li>
                <li class="main-header__item"><a class="<%= locals.path && path ==='/admin/products' ? 'active' : '' %>" href="/admin/products">Admin Products</a></li>
            <% } %>
        </ul>
        <ul class="main-header__item-list">
            <% if(!user) { %>
                <li class="main-header__item">
                    <a href="/login">Login</a>
                </li>
                <li class="main-header__item">
                    <a class="<%= locals.path && path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a>
                </li>
            <% } else {%>
                <li class="main-header__item">
                    <form action="/logout" method="post">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button type="submit">Logout</button>
                    </form>
                </li>
            <% } %>
        </ul>
    </nav>
</header>
