<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../includes/head.ejs', { title: 'Cart' }) %>
    <link rel="stylesheet" href="/css/cart.css">
</head>

<body>
    <%- include('../includes/navigation.ejs', {path: '/cart'}) %>

    <main>
        <% if (cart.cartItems.length > 0) { %>
            <ul class="cart__item-list">
                <% cart.cartItems.forEach(cartItem => { %>
                    <li class="cart__item">
                        <p><%= cartItem.product.title %> (<%= cartItem.quantity %>)</p>
                        <form action="/cart-delete-item" method="POST">
                            <input type="hidden" value="<%= cartItem.id %>" name="id">
                            <button class="btn danger" type="submit">Delete</button>
                        </form>
                    </li>
                <% }) %>
            </ul>
        <% } else { %>
            <h1>No Products in Cart!</h1>
        <% } %>
    </main>
</body>
