<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../includes/head.ejs', {title: 'Product'}) %>
</head>

<body>
<%- include('../includes/navigation.ejs', {path: '/products'}) %>

    <main style="text-align: center">
        <h1><%= product.title %></h1>
        <hr>
        <div>
            <img class="image" src="<%= product.imageUrl %>" alt="<%= product.title %>">
        </div>
        <h2><%= product.price %></h2>
        <p><%= product.description %></p>
        <form action="/cart" method="POST">
            <input type="hidden" name="id" value="<%= product.id %>">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit">Add to Cart</button>
        </form>

    </main>
</body>
